# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# For the sake of consistency across the entire project we want:
# - Carriage Return Line Feed (we started with that because Windows ¯\_(ツ)_/¯ )
# - UTF-8 encoding
# - TABS!
[*]
end_of_line = unset
charset = utf-8
indent_style = tab

[*.sh]
end_of_line = lf

# CurseForge's .pkgmeta file has to be indented with spaces
[.pkgmeta]
indent_style = space
indent_size = 2
