[submodule "totalRP3/libs/Ellyb"]
	path = totalRP3/libs/Ellyb
	url = https://github.com/Ellypse/Ellyb
[submodule "Documents/Scripts/mature-dict"]
	path = Documents/Scripts/mature-dict
	url = https://github.com/Ellypse/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words
[submodule "totalRP3/libs/LibRealmInfo"]
	path = totalRP3/libs/LibRealmInfo
	url = https://github.com/phanx-wow/LibRealmInfo
[submodule "totalRP3/libs/LibMSP"]
	path = totalRP3/libs/LibMSP
	url = https://github.com/Ellypse/LibMSP
